<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fm.mapper.PersonMapper" >
  <resultMap id="BaseResultMap" type="com.fm.model.Person" >
    <id column="person_id" property="personId" jdbcType="INTEGER" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="person_age" property="personAge" jdbcType="INTEGER" />
    <result column="person_sex" property="personSex" jdbcType="VARCHAR" />
    <result column="birth_date" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    person_id, person_name, person_age, person_sex, birth_date, province, city, region, 
    address, mobile_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from person
    where person_id = #{personId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from person
    where person_id = #{personId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fm.model.Person" >
    insert into person (person_id, person_name, person_age, 
      person_sex, birth_date, province, 
      city, region, address, 
      mobile_phone)
    values (#{personId,jdbcType=INTEGER}, #{personName,jdbcType=VARCHAR}, #{personAge,jdbcType=INTEGER}, 
      #{personSex,jdbcType=VARCHAR}, #{birthDate,jdbcType=TIMESTAMP}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fm.model.Person" >
    insert into person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        person_id,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="personAge != null" >
        person_age,
      </if>
      <if test="personSex != null" >
        person_sex,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personAge != null" >
        #{personAge,jdbcType=INTEGER},
      </if>
      <if test="personSex != null" >
        #{personSex,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fm.model.Person" >
    update person
    <set >
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personAge != null" >
        person_age = #{personAge,jdbcType=INTEGER},
      </if>
      <if test="personSex != null" >
        person_sex = #{personSex,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
    </set>
    where person_id = #{personId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fm.model.Person" >
    update person
    set person_name = #{personName,jdbcType=VARCHAR},
      person_age = #{personAge,jdbcType=INTEGER},
      person_sex = #{personSex,jdbcType=VARCHAR},
      birth_date = #{birthDate,jdbcType=TIMESTAMP},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
    where person_id = #{personId,jdbcType=INTEGER}
  </update>
</mapper>